<div id="signup-wrapper">
    Sign Up Page
    <div id="signup-form-wrapper" ng-controller="SignupController">
        
        <label for="username">Username: </label>
        <input id="username" type="text" ng-model="username"> 
        <label for="password">Password: </label>
        <input id="password" type="password" ng-model="password">

        <input type="button" value="Sign Up" ng-click="signup()">
        
        <div>
            <a href="#!/signup"> Sign Up</a>
        </div>
    </div>
</div>